/**
  *放置input的div盒子
  *1.此处应我的项目需要，加了些特别的设置，如字体、背景色等，按需添加；
  *2.内层input不加边框，看起来效果会自然一点，所以外层div设置了边框和圆角*/
.searchInput {
  background-color: #F3F5F7;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  position: relative;
}
/** 
  *label标签样式 放在.box下，不至于影响其他的label
  *采取绝对定位，位置根据需求确定
*/
.searchInput label {
  z-index: 2;
  position: absolute;
  color: #B2B2B2;
  margin-left: 34px;
  top: 7px;
  font-weight: normal;
}
/**
  *input标签样式
  *宽度适应外层div
  *隐藏边框
  *这里有个小技巧，height与line-height值相等，可保证文字垂直居中；但我发现文字比图标略偏下，进行了微调；
*/
.searchInput input {
  padding: 0 37px;
  box-sizing: border-box;
  height: 36px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: #F3F5F7;
}
/**
  *图标样式
  *绝对定位，自定义颜色
*/
.searchInput i.delete {
  position: absolute;
  background: url(img/delete.png);
  height: 13px;
  width: 13px;
  top: 10px;
  right: 10px;
  display: none;
}
.searchInput i.search {
  position: absolute;
  background: url(img/img.png);
  height: 20px;
  width: 20px;
  background-position: -143px 0;
  top: 8px;
  left: 10px;
}
.searchInput {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  width: 75%;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 16px;
  display: inline-block;
}
body {
  background: #fff;
}
#container .title {
  position: relative;
}
#container .title .back {
  margin-right: 5px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #4C4C4C;
  letter-spacing: 0;
  text-align: center;
}
#container .searchHistory {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
#container .searchHistory .title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  color: #333333;
  line-height: 18px;
}
#container .searchHistory .title .titleContent {
  height: 45px;
  line-height: 45px;
}
#container .searchHistory .title .showDelete {
  display: none;
  font-family: PingFangSC-Regular;
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 12px;
  color: #333333;
  line-height: 16px;
}
#container .searchHistory .title i.down {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-position: -4px 1px;
  position: relative;
  top: -3px;
}
#container .searchHistory .title i.up {
  background-position: -13px 1px;
}
#container .searchHistory .title i.delete {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 15px;
  background: url(img/laji.png) no-repeat center;
}
#container .historyContent {
  padding-bottom: 20px;
}
#container .historyContent ul {
  padding-top: 15px;
}
#container .historyContent ul li {
  background: #F3F5F7;
  border-radius: 16px;
  padding: 10px 12px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  line-height: 12px;
  margin-right: 12px;
  position: relative;
  overflow: visible;
}
#container .historyContent ul li i.delete {
  display: none;
  top: -3px;
  right: -3px;
  position: absolute;
  background: url(img/delete.png);
  height: 13px;
  width: 13px;
}
#container .showDeleteBtn ul li i.delete {
  display: block;
}
#container .hotSearch {
  border-top: 12px solid #F2F5F7;
  padding: 0 16px;
  padding-top: 20px;
}
#container .hotSearch .hotTitle {
  margin-bottom: 5px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 18px;
}
#container .hotSearch .hotList {
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #333333;
  line-height: 14px;
}
#container .hotSearch .hotList li {
  height: 46px;
  line-height: 46px;
}
#container .hotSearch .hotList li {
  border-bottom: 1px solid #E0E4E8;
}
#container .hotSearch .hotList li i {
  position: relative;
}
#container .hotSearch .hotList li i.up {
  display: inline-block;
  width: 12px;
  height: 15px;
  top: 3px;
  background-position: -33px 0;
}
#container .hotSearch .hotList li i.down {
  display: inline-block;
  width: 12px;
  height: 15px;
  top: 1px;
  background-position: -76px 0;
}
#container .hotSearch .hotList span {
  font-family: DINAlternate-Bold;
  font-size: 14px;
  color: #FAB030;
  text-align: center;
  line-height: 14px;
  margin-right: 15px;
  display: inline-block;
}
#container .hotSearch .hotList .index {
  color: #58B96F;
}
.toggle ul {
  height: 80px;
  overflow: hidden;
}
#searchMateContent {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
  background: #fff;
  top: 70px;
  left: 0;
  box-sizing: border-box;
}
#searchMateContent ul {
  padding: 0 16px;
}
#searchMateContent ul li {
  height: 47px;
  line-height: 47px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #151515;
  border-bottom: 1px solid #E0E4E8;
}
